@model Sinfonica.Web.Areas.Admin.Data.Entities.Ingreso

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ingreso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AntesAplicar" class="control-label"></label>
                <input asp-for="AntesAplicar" class="form-control" />
                <span asp-validation-for="AntesAplicar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequisitosNacionales" class="control-label"></label>
                <input asp-for="RequisitosNacionales" class="form-control" />
                <span asp-validation-for="RequisitosNacionales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequisitosExtranjeros" class="control-label"></label>
                <input asp-for="RequisitosExtranjeros" class="form-control" />
                <span asp-validation-for="RequisitosExtranjeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formulario" class="control-label"></label>
                <input asp-for="Formulario" class="form-control" />
                <span asp-validation-for="Formulario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
