@model Sinfonica.Web.Areas.Admin.Data.Entities.Beca

@{
    ViewData["Title"] = "Delete";
}

<section class="content-header">
        <h1>
            Becas
            <small>Eliminar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a></li>
        </ol>
    </section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Está seguro de que desea eliminar esta entrada?</h3>
                </div>
                <div class="box-body">
                     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Requisitos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Requisitos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger btn-block" />
    </form>
                </div>
            </div>
        </div>
    </div>
      <!-- /.row -->
    </section>

