<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menú</li>
    <!-- Optionally, you can add icons to the links -->

    <li><a asp-area="Admin" asp-controller="Acontecers" asp-action="Index"><i class="fa fa-map"></i><span>Acontecer</span></a></li>
    <li><a asp-area="Admin" asp-controller="ProfesorCursos" asp-action="Index"><i class="fa fa-link"></i><span>Asignar profesores a cursos</span></a></li>

    <li><a asp-area="Admin" asp-controller="Becas" asp-action="Index"><i class="fa fa-gg"></i><span>Becas</span></a></li>
    <li><a asp-area="Admin" asp-controller="Catedras" asp-action="Index"><i class="fa fa-university"></i><span>Catedras</span></a></li>

    <li><a asp-area="Admin" asp-controller="Conjuntos" asp-action="Index"><i class="fa fa-users"></i><span>Conjuntos</span></a></li>

    <li><a asp-area="Admin" asp-controller="Costos" asp-action="Index"><i class="fa fa-money"></i><span>Costos</span></a></li>

    <li><a asp-area="Admin" asp-controller="Cursoes" asp-action="Index"><i class="fa fa-book"></i><span>Cursos</span></a></li>

    <li><a asp-area="Admin" asp-controller="Departamentos" asp-action="Index"><i class="fa fa-tasks"></i><span>Departamentos</span></a></li>

    <li><a asp-area="Admin" asp-controller="Directors" asp-action="Index"><i class="fa fa-user-secret"></i><span>Directores</span></a></li>

    <li><a asp-area="Admin" asp-controller="Empleados" asp-action="Index"><i class="fa fa-user"></i><span>Empleados</span></a></li>

    <li><a asp-area="Admin" asp-controller="Estudiantes" asp-action="Index"><i class="fa fa-graduation-cap"></i><span>Estudiantes</span></a></li>

    <li><a asp-area="Admin" asp-controller="Eventos" asp-action="Index"><i class="fa fa-calendar"></i><span>Eventos</span></a></li>
    <li><a asp-area="Admin" asp-controller="InstitucionS" asp-action="Index"><i class="fa fa-building"></i><span>Instituciones</span></a></li>

    <li><a asp-area="Admin" asp-controller="Ingresos" asp-action="Index"><i class="fa fa-pencil"></i><span>Ingresos</span></a></li>

    <li><a asp-area="Admin" asp-controller="Noticias" asp-action="Index"><i class="fa fa-newspaper-o"></i><span>Noticia</span></a></li>
    <li><a asp-area="Admin" asp-controller="Programas" asp-action="Index"><i class="fa fa-bookmark"></i><span>Programas</span></a></li>
    <li><a asp-area="Admin" asp-controller="Puestos" asp-action="Index"><i class="fa fa-clone"></i><span>Puestos</span></a></li>
    <li><a asp-area="Admin" asp-controller="Pruebas" asp-action="Index"><i class="fa fa-calendar-check-o"></i><span>Pruebas</span></a></li>
    <li><a asp-area="Admin" asp-controller="Profesors" asp-action="Index"> <i class="fa fa-user-md"></i><span>Profesores</span></a></li>
</ul>



