@model Sinfonica.Web.Areas.Admin.Models.ProfesorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Profesor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatedrasId" class="control-label"></label>
                <select asp-for="CatedrasId" asp-items="Model.Catedrass" class="form-control"></select>
                <span asp-validation-for="CatedrasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamenosId" class="control-label"></label>
                <select asp-for="DepartamenosId" asp-items="Model.Departaments" class="form-control"></select>
                <span asp-validation-for="DepartamenosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Informacion" class="control-label"></label>
                <input asp-for="Informacion" class="form-control" />
                <span asp-validation-for="Informacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
